<!DOCTYPE html>
<html>
<head>
  <title>FoodStamps</title>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lobster+Two:400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
    <header class='header'>
      <nav class='header-nav group'>
        <h1 class="header-logo">
          <a href="#">FoodStamps</a>
        </h1>

        <div class='header-search'>
          <input type='text' placeholder="Search">
        </div>

        <div class='header-profile'>
          <a href='#'><i class="fa fa-camera-retro fa-2x"></i></a>
          <a href='#'><%= current_user.username %></a>
          <form action='<%= session_url %>' method='POST'>
            <%= auth_token %>
            <input type="hidden" name="_method" value="DELETE">
            <button>Log Out</button>
          </form>
        </div>
      </nav>
    </header>
  <% end %>
<%= yield %>

</body>
</html>
